name: Check formatting with ktlint

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Give gradlew permission
      run: chmod +x ./gradlew
    - name: Check formatting using ktlint
      run: ./gradlew ktlintCheck
